:root {
	--corner_radius: 8px;
	--blur_intensity: 5px;

	/*Small switch color pallete*/
	--accent: rgb(106, 157, 199);
	--accent_primary: rgb(220, 243, 239);
	--accent_compliment: rgb(57, 142, 133);
}

/*OPTIMIZATION CODE FOR LONG SCREENS || PHONES */

#main_content_container{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

#collapsible_welcome_msg_container{
	height: fit-content;
	width: 100%;
	justify-self: center;
	align-self: start;
	
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: auto fit-content(300px);
}


/* children of the collapsible_welcome_msg_container */
#collapsible_hundle{
	height: fit-content;
	width: 100%;
	grid-row: 1;
	justify-self: center;
	color: #fff;
	border: none;
	background-color: var(--accent_compliment);

	display: grid;
	grid-auto-flow: row;
	place-items: center;
}

#hundle_arrow_container{
	text-align: center;
}

#welcome_msg_container{
	grid-row: 2;
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgba(57, 142, 133, 0.4);
	-webkit-backdrop-filter: blur(var(--blur_intensity));
	backdrop-filter: blur(var(--blur_intensity));
	border: solid 2px var(--accent_compliment);
	border-bottom-width: 5px;
	border-top: none;
	border-bottom-right-radius: var(--corner_radius);
	border-bottom-left-radius: var(--corner_radius);
}



/* children of the welcome_msg_container */
#welcome_msg_header{
	text-align: center;
}

header {
		font-weight: bolder;
		padding: 5px 0;
}

#options_container {
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.8em;
	align-items: center;
}


/* children of the options_container */
#options {
	flex-wrap: wrap;
	height: fit-content;
	width: fit-content;
	gap: 8px;
}


/* children of the options */
.optionCard{
	height: fit-content;
	width: 80px;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	color: #000000;
}

.icon {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
}



/*OPTIMIZATION FOR WIDER SCREENS ||  TABLETS */


@media only screen and (min-width: 600px)
{
	
	#collapsible_welcome_msg_container{
	width: 60%;
	}

	#options_container {
		padding: 20px 10px;
	}
	
}



/*OPTIMIZATION FOR WIDER SCREENS ||  LAPTOPS */


@media only screen and (min-width: 950px)
{



}