:root {
	--radius: 10px;
	--blur: 3px;
}

@font-face {
		font-family: my_roboto;
		src: url("../../fonts/Roboto-Regular.ttf");
	}

	body {
		margin: 0;
	}

	#root_container{
		min-height: 100vh;
		min-width: 100vw;
		font-family: my_roboto;
		font-size: 0.85rem;
		background-color: #ffffff;

		background-image: url("../../images/login/MUlibrarySquare.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 15% 1fr 30% 10%;
	}
	
	.columnFlexBox {
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		flex-flow: column nowrap;
	}

	.rowFlexBox {
		display: flex;
		flex-flow: row nowrap;
	}

/*REFERENCE CODE FOR LONG SCREENS || PHONES */

/* top level containers */
	#redirects_container{
		grid-row: 1/2;
		width: 95%;
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		justify-self: center;

		border: solid 1px;
		border-top: none;
		border-color: rgba(255,255,255,0.5);
		background-color: rgba(98,151,195,0.7);
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}

	#login_container{
		grid-row: 2/3;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}

	#registration_container{
		grid-row: 3/4;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		background-color: #fff;

		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}

	#page_footer{
		grid-row: 4/5;
		width: 100%;
		justify-self: center;
		box-sizing: border-box;
		padding: 2px;

		background-color: rgb(230,230,230);
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 30% 40% 30%;
	}

/* children of the top level login_container */
	#login_field{
		height: 90%;
		width: 95%;
		place-self: center;
		border-radius: var(--radius);
		background: rgba(255,255,255,0.8);
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 10% 1fr 15%;
	}


/* children of the top level registration_container */
	#registration_field{
		height: 100%;
		width: 90%;
		place-self: center;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 60% 40%;
	}

/* children of the registration_field */
	#welcome_text{
		grid-row: 1/2;
		height: fit-content;
		width: 100%;
		text-align: center;
		align-self: center;
	}

	#application_buttons_container{
		grid-row: 2/3;
		height: fit-content;
		width: 100%;
		place-self: center;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50% 50%;
	}

	#welcome_text_header{
		display: block;
		font-weight: bolder;
		padding: 3% 0;
	}

/* children of the application_buttons_container */
	#application_opt1{
		font-size: 1em;
		font-weight: bold;
		grid-row: 1/2;
		height: fit-content;
		width: 100%;
		place-self: center;

		background-color: rgba(98,151,195,0.8);
		border-style: none;
		color: #ffffff;
		padding: 10px 0;
		margin-bottom: 2px;
		overflow: wrap;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}

	#application_opt2{
		font-size: 1em;
		font-weight: bold;
		grid-row: 2/3;
		height: fit-content;
		width: 100%;
		place-self: center;

		background-color: rgba(205,72,55,0.8);
		border-style: none;
		color: #ffffff;
		padding: 10px 0;
		margin-top: 2px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

/* children of the redirects_container */
	#mulungushiLogoImage{
		grid-row: 1/2;
		width: auto;
		height: 80%;
		place-self: center;
	}

	#redirect_links{
		grid-row: 2/3;
		height: 100%;
		width: fit-content;
		max-width: 95%;
		justify-self: center;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		padding: 3px;

		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	#link1, #link2, #link3, #link4 {
		color: #ffffff;
		height: 40%;
		text-align: center;
		justify-content: center;
		padding: 0 10px;
		margin: 0 5px;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
	}

/* children of the login_field */
	#login_container_header{
		grid-row: 1/2;
		width: fit-content;
		height: fit-content;
		place-self: center;

		font-weight: bolder;
	}

	#login_form{
		grid-row: 2/3;
		width: 80%;
		height: 100%;
		justify-self: center;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, 1fr);
		
		border-radius: var(--radius);
		background-color: #ffffff;
	}

	#login_container_footer{
		grid-row: 3/4;
		width: fit-content;
		height: fit-content;
		justify-self: left;
		align-self:self-end;
		color: rgb(0, 206, 255);

		padding: 0 0 8px 15px;
	}


/* children of the login_form */
	#username_container{
		grid-row: 1/2;
		width: 70%;
		height: fit-content;
		place-self: center;
	}

	#password_container{
		grid-row: 2/3;
		width: 70%;
		height: fit-content;
		place-self: center;
	}

	#login_button{
		grid-row: 3/4;
		width: fit-content;
		height: fit-content;
		place-self: center;

		padding: 3%;
		color: #ffffff;
		font-weight: bolder;
		border-radius: 6px;
		background-color: rgba(106,157,199,0.7);
		font-size: 1em;
	}

	label{
		display: block;
		margin: 0 auto;
		width: fit-content;
		font-weight: bold;
		color: transparent;
	}

	input {
		display: block;
		margin: 0 auto;
		width: 100%;
		border: none;
		border-bottom: solid 2px #6a9dc7;
		box-sizing: border-box;
		padding: 5% 5% 0 5%;
	}

	input::placeholder{
		text-align: center;
		font-weight: bolder;
		color: rgba(0, 0, 0, 0.3);
	}
	
	input:focus{
		outline: none;
	}


/* children of the page_footer */
	#language_selector_container{
		grid-row: 1/2;
		width: fit-content;
		height: fit-content;
		justify-self: right;
		align-self: center;

		display: flex;
		flex-flow: row nowrap;
		padding-right: 5px;
	}

	#preferences_container_footer{
		grid-row: 3/4;
		width: fit-content;
		height: fit-content;
		justify-self: left;
		align-self: center;
		padding-left: 5px;

		color: rgba(0, 0, 0, 0.5);
	}

	#change {
		white-space: nowrap;
		flex-grow: 1;
		height: 100%;
		color: #000000;
		box-sizing: border-box;
		padding: 0 2% 0 0;
	}

	#select_container {
		width: fit-content;
	}

	#select_button {
		font-size: 1em;
		width: fit-content;
		border: none;
		padding: 0 1px;
		border-left: solid #555555 2px;
		background-color: rgba(98,151,195,0.3);
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
	
	#select_button:focus{
		outline: none;
	}

/*OPTIMIZATION FOR WIDER SCREENS ||  TABLETS */

@media only screen and (min-width: 600px)
{

	#redirects_container, #login_field {
		width: 60%;
	}

	#registration_field{
		width: 50%;
	}
	
}




/*OPTIMIZATION FOR WIDER SCREENS ||  LAPTOPS */

@media only screen and (min-width: 950px)
{
	
	#root_container{
		font-size: 1rem;
		grid-template-columns: 50% 50%;
		grid-template-rows: 1fr 15% 50% 15% 1fr;
		background-image: url("../../images/login/MUlibraryWide.jpg");
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));
	}

	#redirects_container{
		grid-row: 2/3;
		grid-column: 1/3;
		height: 100%;
		width: 60%;
		grid-template-rows: 60% 40%;
		border: none;

		border-radius: 0;
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}

	#login_container{
		grid-column: 2/3;
		grid-row: 3/4;
		width: 60%;
		justify-self: start;
		background: rgba(255,255,255,0.8);
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));

		border-radius: 0;
	}

	#registration_container{
		grid-column: 1/2;
		grid-row: 3/4;
		width: 60%;
		justify-self: end;
		background: rgba(255,255,255,0.8);
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));

		border-radius: 0;
	}

	#page_footer{
		grid-column: 1/3;
		grid-row: 4/5;
		width: 60%;
		padding: 5px;

		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}

	#registration_field{
		height: 90%;
		width: 90%;
		border-radius: var(--radius);
		background-color: #fff;

		box-sizing: border-box;
		padding: 0 15px;
	}

	#login_field{
		width: 90%;
	}

	#link1, #link2, #link3, #link4 {
		height: 70%;
	}

	#username_container{
		width: 80%;
	}

	#password_container{
		width: 80%;
	}
	
	input{
		font-size: 1rem;
	}

}